<form action="/create" method="post">
  Recipe name:<br>
  <input type="text" name="name"><br>
  Description:<br>
  <input type="text" name="description"><br>
  Duration:<br>
  <input type="text" name="duration"><br><br>
  <input type="submit" value="Submit">
</form>
